openapi: '3.0.0'
info:
  version: 1.0.0
  title: Karmix Alchemist API
  license:
    name: MIT
servers:
  - url: https://api.karmixalchemist.com/v1
paths:
  /projects:
    get:
      summary: List all documentation projects
      operationId: listProjects
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: A paginated array of projects
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Projects'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new documentation project
      operationId: createProject
      responses:
        201:
          description: Project created successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{projectId}:
    get:
      summary: Get detailed information about a specific project
      operationId: getProject
      parameters:
        - name: projectId
          in: path
          required: true
          description: The unique identifier of the project to retrieve
          schema:
            type: string
      responses:
        200:
          description: Detailed project information including settings and metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{projectId}/documents:
    get:
      summary: List all documents within a specific project
      operationId: listProjectDocuments
      parameters:
        - name: projectId
          in: path
          required: true
          description: The unique identifier of the project
          schema:
            type: string
        - name: status
          in: query
          description: Filter documents by publication status
          required: false
          schema:
            type: string
            enum: [draft, published, archived]
      responses:
        200:
          description: A list of documents in the project with their metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Documents'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new document within the specified project
      operationId: createProjectDocument
      responses:
        201:
          description: Document created successfully within the project
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /documents/{documentId}:
    get:
      summary: Retrieve the content and metadata of a specific document
      operationId: getDocument
      parameters:
        - name: documentId
          in: path
          required: true
          description: The unique identifier of the document to retrieve
          schema:
            type: string
      responses:
        200:
          description: Complete document information including content and version history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Project:
      required:
        - id
        - name
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    Projects:
      type: array
      items:
        $ref: '#/components/schemas/Project'
    Document:
      required:
        - id
        - title
        - projectId
      properties:
        id:
          type: string
        title:
          type: string
        content:
          type: string
        projectId:
          type: string
        status:
          type: string
          enum: [draft, published, archived]
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    Documents:
      type: array
      items:
        $ref: '#/components/schemas/Document'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string